.container {
    display: flex;
}

.box-wrapper {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.wrapper {
    border: 2px solid black;
    padding: 3% 5% 3% 5%;
}

.notif-section{
    min-height: 100vh;
    display: flex;
    min-width: 100vw;
}

.notifation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    
}

.box {

    border: 1px solid black;
    width: 220px;
    height: 150px;
    background-color: white;
    border-radius: 16px;


}

.notification-badge {
    position: absolute;
    border-radius: 16px;
    background-color: red;
    width: 20px;
    height: 20px;
}